# PostgreSQL connection string for Prisma
# https://www.prisma.io/docs/orm/reference/connection-urls
DATABASE_URL="postgresql://neondb_owner:npg_seN4mJWlkx3K@ep-long-tree-ap984qod-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
